.offline-screen {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 4.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green-lighter);
}

.offline-screen-image {
    width: 25rem;
    height: 25rem;
}

.offline-screen-msg {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 1rem;
}

.offline-screen-btn {
    margin: 1rem;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #b8f1b0 0, #14c38e 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.offline-screen-btn:focus {
    box-shadow: #00ffab 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00ffab 0 -3px 0 inset;
}

.offline-screen-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #00ffab 0 -3px 0 inset;
    transform: translateY(-2px);
}

.offline-screen-btn:active {
    box-shadow: #00ffab 0 3px 7px inset;
    transform: translateY(2px);
}

@media only screen and (max-width: 510px) {
    .offline-screen-image {
        width: 20rem;
        height: 20rem;
    }

    .offline-screen-msg {
        font-size: large;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}
