.contact {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 4.5rem);
    background-color: var(--background);
}

.contact-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.contact-form {
    padding: 3.5rem 2rem;
    padding-top: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    outline: none;
    border: none;
    color: var(--primary-foreground);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;
}

.contact-btn:hover {
    background-color: var(--primary);
    opacity: 90%;
}

.contact-btn:active {
    background-color: var(--primary);
}

.contact-form > input,
textarea {
    background-color: var(--antiflash-white);
    resize: none;
    width: 100%;
    min-width: 100%;
    border: 2px solid var(--antiflash-white);
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-right: 0.2rem;
    font-size: medium;
}

.contact-form > textarea {
    min-height: 10rem;
}

.contact-form > input:focus,
textarea:focus {
    border: 2px solid var(--platinum);
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.contact-text-heading {
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.contact-text-subheading {
    color: var(--primary-light);
    font-size: small;
}
